<section class="footer">
      <div class="container">
            <div class="row">
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 text-center">
                        <img style="width: 75%" src="../../assets/images/nooble-logo-coloured.png" />
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-4 text-center">
                        <div class="footer-items">
                              <h6>ABOUT US</h6>
                              <ul class="smallest">
                                    <li routerLink = "/about">Company</li>
                                    <!-- <li>The Team</li>
                                    <li>Press</li>
                                    <li>Contact Us</li> -->
                              </ul>
                        </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-4 text-center">
                        <div class="footer-items">
                              <h6>LEARN MORE</h6>
                              <ul class="smallest">
                                    <li routerLink = "/for-institutions">For Institution</li>
                                    <li routerLink = "/for-parents">For Parent</li>
                                    <li data-toggle="modal" data-target="#requestInviteModal" >Request Invite</li>
                              </ul>
                        </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-4 text-center">
                        <div class="footer-items">
                              <h6>RESOURCES</h6>
                              <ul class="smallest">
                                    <li><a target="_blank" href="https://nooble.kayako.com/category/2-frequently-asked-questions">FAQ</a></li>
                                    <!-- <li>Support</li>
                                    <li>Help</li>
                                    <li>Blog</li> -->
                                    <li><a target="_blank" routerLink="/nooble/service">Term of Service</a></li>
                                    <li><a target="_blank" routerLink="/nooble/policy">Privacy Policy</a></li>
                              </ul>
                        </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">

                  </div>
                  <div class="clearfix"></div>
                  <p class="smallest" style="font-size: 11px; color: #c50695; margin-top: 60px; padding-left: 15px;">© 2018 Nooble Info Pvt. Ltd. All rights reserved.</p>
            </div>
      </div>
</section>
