<div class="collapse navbar-collapse text-center" style="width: 100vw; max-height: 100vh">
      <ul class="nav navbar-nav nav-links">
            <li><a href="#" routerLink = "/portalpage" class="">Portal Pages</a></li>
            <li><a href="#" routerLink="/managefee" class="">Manage Fee</a></li>
            <li><a href="#" routerLink="/peoples" class="">People</a></li>
            <!-- <li><a class="">PRICING</a></li> -->
            <li><a href="#" routerLink="/dashboard" class="">DashBoard</a></li>
            <li><a href="#" routerLink="/offlinepayments" class="">OfflinePayments</a></li>
            <li><button _ngcontent-c2="" class="btn btn-secondary new-ins" type="button" routerLink="/addinstituiton">ADD NEW INSTITUTION</button></li>
      </ul>
</div>
