.top-margin {
      margin-top: 96px;
}

.bottom-margin {
      margin-bottom: 96px;
}

ul {
      margin: 0;
      padding: 0;
      list-style: none;
}

.center-content {
      text-align: center;
}


/* navbar section */

.navbar-header {
      float: none;
}

.navbar-header .brand {
      max-width: 185px;
      float: left;
      height: 50px;
      padding: 15px 15px;
      font-size: 18px;
      line-height: 20px;
      outline: none;
}

.brand>img {
      width: 100%;
      margin-top: -27px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
      height: 100vh;
}


.nav-links {
      display: inline-block;
      float: none;
      font-weight: 400;
}

.nav-links li {
      margin: 0 25px;
}
.nav-links li a{
      padding: 30px 13px 25px 13px;
      font-size: 14px;
      line-height: 22px;
      text-transform: uppercase;
}

.collapse .nav-links li:last-child a {
      padding: 2px 10px;
      margin: 24px 0;
      border: 1px solid #777;
      border-radius: 3px;
}


.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
      background-color: transparent;
      color: #401435;
}


.navbar {
      margin-bottom: 0px;
      border: none;
}

.navbar>.container .brand,
.navbar>.container-fluid .brand {
      margin-top: 20px;
}

@media (max-width: 1200px) and (min-width: 992px) {
      .nav-links li {
            margin: 0 15px;
      }
}

@media (max-width: 992px) and (min-width: 768px) {
      .nav-links li {
            margin: 0 0px;
      }
      .navbar-nav>li>a {
            padding: 30px 10px 25px 10px;
      }
}

@media (max-width: 768px) and (min-width: 442px) {
      .nav-links {
            height: 99vh;
      }
      .nav-links li {
            margin: 0 0px;
      }
      .navbar-nav>li>a {
            color: #777;
            font-size: 16px;
      }
      .collapse .nav-links li:last-child a {
            border: 1px solid #777;
      }
}

@media (max-width: 442px) and (min-width: 300px) {

      .nav-links {
            height: 99vh;
      }

      .navbar-nav>li>a {
            color: #777;
            font-size: 16px;
      }
      .collapse .nav-links li:last-child a {
            border: 1px solid #777;
      }
}
