<header id="home" class="header navbar-fixed-top">
      <div class="navbar navbar-default">

            <div class="container">
                  <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                        </button>
                        <a routerLink = "/" class="brand"><img src="../../../../assets/images/nooble-logo-coloured.png" alt="nooble" /></a>
                        <!-- <a class="navbar-brand" href="index.html"></a> -->
                        <div class="collapse navbar-collapse text-center" style="width: 100vw; max-height: 100vh">
                              <ul class="nav navbar-nav nav-links">
                                    <li><a routerLink = "/about" class="">ABOUT NOOBLE</a></li>
                                    <li><a routerLink = "/for-institutions" class="">FOR INSTITUTIONS</a></li>
                                    <li><a routerLink = "/for-parents" class="">FOR PARENTS</a></li>
                                    <!-- <li><a class="">PRICING</a></li> -->
                                    <li><a routerLink = "/login">LOG IN</a></li>
                              </ul>
                        </div>
                        <div class="clearfix"></div>
                  </div>
            </div>
      </div>
      <!-- end of navbar -->
</header>
