<app-nav-header></app-nav-header>
<section id="home">
      <div class="page-wrapper">
            <div class="container">
                  <div class="row">
                        <div class="heading-text">
                              <div class="single_home_content wow zoomIn" data-wow-duration="1s">
                                    <h1 class="text-center">Parents</h1>
                                    <p class="text-justify">As a parent, nothing is more terrifying than going through the physical process of fee payment for your ward.  We decided to make things simple for you. Now, you can pay your ward’s school fees, from your living room, or on the go from your phone, and stay updated of the entire process.</p>
                                    <p class="text-justify">No more queues for fee payments, issuance of cheques or missed payments. Get fees notifications on your phone and pay seamlessly through our secured gateway. Keep track of all your fee payments from your comprehensive dashboard.</p>
                              </div>
                        </div>
                        <!-- end of row -->
                  </div>
                  <!-- end of container -->
            </div>
      </div>
</section>

<section id="works" class="center-content">
      <div class="container">
            <div class="row">
                  <div class="works_content text-center">
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1s">
                                    <img src="../../../../assets/images/Nooble-is-mobile.png" />
                                    <h4>Pay from your mobile</h4>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.2s">
                                    <img src="../../../../assets/images/Domain.png" />
                                    <h4>Pay from your browser</h4>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.5s">
                                    <img src="../../../../assets/images/payment-options.png" />
                                    <h4>Umpteen payment options</h4>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.5s">
                                    <img src="../../assets/images/Bank.png" />
                                    <h4>Your money. Your bank</h4>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1s">
                                    <img src="../../assets/images/Wallet.png" />
                                    <h4>Never miss a payment</h4>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.2s">
                                    <img src="../../assets/images/Nooble-is-secure.png" />
                                    <h4>State of the art security</h4>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.5s">
                                    <img src="../../assets/images/Nooble-analytics.png" />
                                    <h4>Comprehensive dashboard</h4>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.7s">
                                    <img src="../../assets/images/Support.png" />
                                    <h4>Fanatical support</h4>
                              </div>
                        </div>

                  </div>
            </div>
      </div>
</section>

<app-footer></app-footer>
