<app-nav-header></app-nav-header>
<section id="home">
      <div class="page-wrapper">
            <div class="container">
                  <div class="row">
                        <div class="heading-text">
                              <div class="single_home_content wow zoomIn" data-wow-duration="1s">
                                    <h1 class="text-center">Institution</h1>
                                    <p class="text-justify">Collecting and managing school fees was always a pain point. Demonetisation was only an awakener to switch to a better system. Contrary to the common notion, simply paying fees online would not do much for you. What you need is a next generation 'fees life cycle management'.</p>
                                    <p class="text-justify">Our fees life cycle management is one of its kind solution, developed keeping ease of use, security and scalability in mind. By nullifying payment friction, Nooble enables institutions to collect not just routine fees, but also any adhoc payments with ease to individual students or groups as you wish. With Nooble, you create a new fee instance, intimate parents, and collect fees in minutes, thus reducing the fees collection time. </p>
                                    <p class="text-justify">Simplicity and ease of use, is one of the salient features of Nooble, making it easy for anyone to create and manage fees.  By staying at the forefront of security, we use the latest in digital security practices, to safeguard your data and transactions.</p>
                              </div>
                        </div>
                        <!-- end of row -->
                  </div>
                  <!-- end of container -->
            </div>
      </div>
</section>

<section id="works" class="center-content">
      <div class="container">
            <div class="row">
                  <div class="works_content text-center">
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1s">
                                    <img src="../../../../assets/images/Frictionless.png" />
                                    <h4>Frictionless Payments</h4>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.2s">
                                    <img src="../../../../assets/images/Faster-payments.png" />
                                    <h4>Collect Fees Faster</h4>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.5s">
                                    <img src="../../../../assets/images/Bank.png" />
                                    <h4>Your Money. Your Bank</h4>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.7s">
                                    <img src="../../../../assets/images/Toy.png" />
                                    <h4>Super Simple Fee Creation</h4>
                              </div>
                        </div>

                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1s">
                                    <img src="../../../../assets/images/Nooble-is-secure.png" />
                                    <h4>World Class Security</h4>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.2s">
                                    <img src="../../../../assets/images/Wallet.png" />
                                    <h4>Zero Initial Fees</h4>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.5s">
                                    <img src="../../../../assets/images/Nooble-is-mobile.png" />
                                    <h4>Mobile Payments</h4>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.7s">
                                    <img src="../../../../assets/images/Nooble-analytics.png" />
                                    <h4>Comprehensive Reports</h4>
                              </div>
                        </div>

                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.2s">
                                    <img src="../../../../assets/images/Domain.png" />
                                    <h4>Custom Domain</h4>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.5s">
                                    <img src="../../../../assets/images/payment-options.png" />
                                    <h4>Reduced Costs</h4>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.5s">
                                    <img src="../../../../assets/images/Fast.png" />
                                    <h4>Rocket Fast On-boarding</h4>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.7s">
                                    <img src="../../../../assets/images/Support.png" />
                                    <h4>Fanatical Support</h4>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>

<section>
      <div class="container request-invite">
            <div class="borderTop"></div>
            <div class="row text-center">
                  <p>
                        Nooble is available for selected institutions at this stage.
                  </p>

                  <p>
                        Request an invitation to see if you qualify.
                  </p>
                  <button data-toggle="modal" data-target="#requestInviteModal" class="btn btn-more">REQUEST INVITE</button>
            </div>
      </div>
</section>

<app-invite-institution></app-invite-institution>

<app-footer></app-footer>


