
<header *ngIf="!isOverlayShow" id="home" class="header navbar-fixed-top">
      <div class="navbar navbar-default main-menu">
            <div class="container">
                  <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" routerLink="/">
                           <img src="../../../../assets/images/nooble-logo-white.png" alt="nooble" />
                        </a>
                        <!-- <a class="navbar-brand" href="index.html"></a> -->
                        <div class="collapse navbar-collapse text-center" style="width: 100vw; max-height: 100vh">
                              <ul class="nav navbar-nav nav-links">
                                    <li><a href="#" routerLink = "/about" class="">ABOUT NOOBLE</a></li>
                                    <li><a href="#" routerLink="/for-institutions" class="">FOR INSTITUTIONS</a></li>
                                    <li><a href="#" routerLink="/for-parents" class="">FOR PARENTS</a></li>
                                    <!-- <li><a class="">PRICING</a></li> -->
                                    <li><a routerLink="/login">LOG IN</a></li>
                              </ul>
                        </div>
                  </div>
            </div>
      </div>
      <!-- end of navbar -->
</header>
<section id="home">
      <div id="bgimage" class="header-image">
            <div class="container">
                  <div class="row">
                        <div class="heading-text">
                              <div class="single_home_content wow zoomIn text-center text-white" data-wow-duration="1s">
                                    <div class="head-font home-label">Dear teachers & parents,</div>
                                    <h1>REJOICE</h1>
                                    <p class="bannerDescription">You can now focus on what is most important - the quality of our children's education.</p>
                              </div>
                        </div>
                        <!-- end of row -->
                  </div>
                  <!-- end of container -->
            </div>
      </div>
</section>

<section class="center-content ">
      <div class="container">
            <div class="row">
                  <div class="feature-content wow zoomIn" data-wow-duration="1s">
                        <p class="feature-text">Nooble is an intelligent, education technology offering, crafted to enhance the quality of education, by providing
                              tools that augment facilitation & learning.</p>
                        <h1 class="feature-head">Introducing a super-simplified fees life cycle management</h1>
                        <p class="feature-caption">We nailed the fees madness</p>
                  </div>
            </div>
      </div>
</section>

<!-- tutorial section -->

<section class="tutorial-section">
      <div class="row video-pane">
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                  <div class="video_text center-content wow fadeInLeft">
                        <img src="../../../../assets/images/Institute-Screen.png" />
                  </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                  <div class="text-center tutorial-pane wow fadeInRight">
                        <h2>Institutions</h2>
                        <p>Create multiple types of fees for specific student categories in just a few clicks, from your own secure domain.
                              Monitor its status, follow-up and view comprehensive reports for detailed analyses.</p>
                        <button class="btn btn-more">FIND OUT MORE</button>
                  </div>
            </div>
      </div>
      <div class="container">
            <div class="row">
                  <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                        <div class="text-center tutorial-pane wow fadeInLeft" style="padding: 0; margin: 0">
                              <h2>Parents</h2>
                              <p>No more queues for fee payments, issuance of cheques or missed payments. Get fees notifications on your phone and
                                    pay seamlessly through a secured gateway. Keep track of all your fee payments from your comprehensive dashboard.</p>
                              <button class="btn btn-more">FIND OUT MORE</button>
                        </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                        <div class="wow fadeInRight parent-pane-phone">
                              <img src="../../../../assets/images/Parents-mobile.png" />
                        </div>
                  </div>
            </div>
      </div>
</section>


<section id="works" class="center-content">
      <div class="container">
            <div class="row">
                  <div class="works_content text-center">
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration=".5s">
                                    <h4>Time is Money</h4>
                                    <img src="../../../../assets/images/Nooble-saves-time.png" />
                                    <p class="property">For institutions, Nooble simplifies the fee creation and collection process, saving precious time for teachers
                                          and administrative staff.</p>
                                    <p class="property">For parents, it saves time and removes the hassles of standing in ATM queues, issuing cheques or visiting the
                                          school to pay fees.</p>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration=".8s">
                                    <h4>Secure & Exclusive</h4>
                                    <img src="../../../../assets/images/Nooble-is-secure.png" />
                                    <p class="property">Get a cloud-hosted solution for your institution on your own custom domain, to manage all your fee transactions.</p>
                                    <p class="property">With state-of-the-art security features in place, both parents & the management can now be at peace regarding
                                          the safety of their data & transactions.</p>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.2s">
                                    <h4>Mobile and Realtime</h4>
                                    <img src="../../../../assets/images/Nooble-is-mobile.png" />
                                    <p class="property">Institutions can now create fee structures in just a few clicks, thanks to the extremely user-friendly interface.</p>
                                    <p class="property">Fees notifications will also reach parents in realtime, enabling them to pay with just a click from their registered
                                          mobile phones or desktops.</p>
                              </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                              <div class="single_works_text wow fadeInDown" data-wow-duration="1.5s">
                                    <h4>Awesome Analytics</h4>
                                    <img src="../../../../assets/images/Nooble-analytics.png" />
                                    <p class="property">Stay updated on not just all due and paid amounts, but also their category distributions through our comprehensive
                                          analytics.
                                    </p>
                                    <p class="property">Dashboards are not just for businesses. As a parent, it helps to know where your hard-earned money is going.Our
                                          analytics for parents do just that. Beautifully.</p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>

<section>
      <div class="container request-invite">
            <div class="borderTop"></div>
            <div class="row text-center">
                  <p>
                        Nooble is available for selected institutions at this stage.
                  </p>

                  <p>
                        Request an invitation to see if you qualify.
                  </p>
                  <button data-toggle="modal" data-target="#requestInviteModal" class="btn btn-more">REQUEST INVITE</button>
            </div>
      </div>
</section>
<app-footer></app-footer>
<app-invite-institution></app-invite-institution>


